
@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,'DNFBitBitv2';
    text-decoration: none;
    color: inherit;
}

.body{
    font-size: 16px;
}

.container{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}

.title{
    width: 100%;
    height: 150px;
    background-color: lightblue;
    font-size: 2rem;
    color: dodgerblue; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;      
}

.menu{
    width: 100%;
    background-color: dodgerblue;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu > div{
    width: 120px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 45px;
}

.game{    
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    padding-bottom: 20px;
}

.game:hover{
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4) ;
    transform: translate(0px , -5px);
    cursor: pointer;
}

.image{
    width: 100%;
}

.menu > div:hover{
    color: dodgerblue;
    background-color: #fff;
    cursor: pointer;
}

.content{
    width: 100%;
    background-color: khaki;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}


.footer{
    width: 100%;
    height: 100px;
    background-color: lightgray;
}

.content p {
    margin: 0 0 5px 10px;     
}

.product{
    width: 100%;
    background-color: khaki;
    padding: 20px;
}

.product p {
    margin: 10px 20px;
}

.login{
    height: 300px;
    background-color: khaki;
    display: flex;
    align-items: center;
}

.login-box{
    width: 450px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
    border-radius: 5px;
}

.loginBtn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: #fff;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    line-height: 35px;
}

.loginBtn:hover{
    background-color: lightblue;
    color: dodgerblue;
}