
@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DNFBitBitv2';
    text-decoration: none;
    color: inherit;
}

.body{
    font-size: 16px;
}

.container{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}

.title{
    width: 100%;
    height: 150px;
    background-color: #161513;
    font-size: 2rem;
    color: #ffd70e; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;      
}

.menu{
    width: 100%;
    background-color: #d6232f;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu > div{
    width: 120px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 45px;
}

.game{    
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    padding-bottom: 20px;
}

.game:hover{
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4) ;
    transform: translate(0px , -5px);
    cursor: pointer;
}

.image{
    width: 100%;
}

.menu > div:hover{
    color: #d6232f;
    background-color: #fff;
    cursor: pointer;
}

.content{
    width: 100%;
    background-color: #161513;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}


.footer{
    width: 100%;
    height: 100px;
    background-color: #d6232f;
}

.content p {
    margin: 0 0 5px 10px;     
}

.product{
    width: 100%;
    background-color: khaki;
    padding: 20px;
}

.product p {
    margin: 10px 20px;
}

.login{
    height: 300px;
    background-color: #161513;
    display: flex;
    align-items: center;
}

.login-box{
    width: 450px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
    border-radius: 5px;
}

.signup-box{
    width: 450px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
    border-radius: 5px;
}

.btn{
    float: right;
    display: flex;
    justify-content: space-between;
}

.loginBtn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #ffd70e;
    color: #161513;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    line-height: 35px;
    display: inline;
}

.loginBtn:hover{
    background-color: #161513;
    color: #ffd70e;
}


.logoutBtn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #ffd70e;
    color: #161513;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    line-height: 35px;
    margin-top: 30px;
}

.logoutBtn:hover{
    background-color: #161513;
    color: #ffd70e;
}

.purchaseBtn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #ffd70e;
    color: #161513;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    line-height: 35px;
    margin-top: 50px;
    display: inline-block;
}

.purchaseBtn:hover{
    background-color: #d6232f;
    color: #fff;
}

th:hover{
    background-color: #d6232f;
    color: #fff;
}

.Back-btn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #ffd70e;
    color: #161513;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    line-height: 35px;
}

.Back-btn:hover{
    background-color: #161513;
    color: #ffd70e;    
}

.process-btn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #ffd70e;
    color: #161513;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    line-height: 35px;
}

.user-box{
    width: 450px;
    margin-left: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


.signupBtn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #ffd70e;
    color: #161513;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    line-height: 35px;
}

.signupBtn:hover{
    background-color: #161513;
    color: #ffd70e;
}

.ProceedBtn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #ffd70e;
    color: #161513;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    line-height: 35px;
}

.ProceedBtn:hover{
    background-color: #161513;
    color: #ffd70e;
}

.low-box{
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    align-items: center;
}


.cartBtn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #ffd70e;
    color: #161513;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    line-height: 35px;
    margin: 0 auto;
}

.cartBtn:hover{
    background-color: #161513;
    color: #ffd70e;
}

.cart{
    width: 100%;
    background-color: #161513;
    padding: 20px;
}

.cart-table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.cart-table td{
    text-align: center;
}

thead{
    background-color: #ffd70e;
    height: 50px;
}

.tr:nth-child(2n) td{
    background-color: #eaeaed;
}

.imgtd{
    width: 200px;
}

.totalPrice {
    margin-left: 20px;
    color: #ffd70e;
    display: inline-block;
}

/*hidden 클래스 스타일은 파일의 제일 아래에 놓자!*/
.hidden{
    display: none;
}